%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    
  %li
    = link_to 'IVR Extension', settings_path
    
  %li
    = link_to 'Pages', pages_path
    
  %li
    = link_to @page.name, @page
    
  %li.active New Menu Option

.page-header
  %h1 New Menu Option

= render :partial => "form", :locals => { :menu_option => @menu_option }
