= javascript_include_tag "voice_extension/application"

%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    
  %li.active IVR Extension
  
.alert.alert-info
  %h1 IVR Extension
  %p Manage voice extension settings.

- if flash[:error]
  .alert.alert-error= flash[:error]

.row
  .col-md-8
    %hr
    = link_to pages_path, class: 'btn btn-lg btn-primary' do
      Configure Pages
      %i.icon-circle-arrow-right
    %hr
  .col-md-4
    .well
      %h4 IVR Settings
      %p.muted Update IVR settings here.
      = form_tag modify_settings_path do
        .form-group
          = label_tag :consume_phone_number, 'Twilio phone number'
          = text_field_tag :consume_phone_number, @consume_phone_number, class: 'form-control'
        
        .form-group
          = label_tag :consume_url, 'Consume URL'
          = text_field_tag :consume_url, @consume_url, class: 'form-control'
        
        = submit_tag "Update", {class: 'btn btn-primary btn-sm'}
