= javascript_include_tag "voice_extension/application"

%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    %span.divider /
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    %span.divider /
  %li.active IVR Extension
  
.alert.alert-info
  %h1 IVR Extension
  %p Manage voice extension settings.

- if flash[:error]
  .alert.alert-error= flash[:error]

.row-fluid
  .span8
    %hr
    = link_to pages_path, class: 'btn btn-large btn-primary' do
      Configure Pages
      %i.icon-circle-arrow-right
    %hr
  .span4
    .well
      %h4 IVR Settings
      %p.muted Update IVR settings here.
      = form_tag modify_settings_path do
        .control-group
          = label_tag :consume_phone_number, 'Twilio phone number'
          .controls= text_field_tag :consume_phone_number, @consume_phone_number
        
        .control-group
          = label_tag :consume_url, 'Consume URL'
          .controls= text_field_tag :consume_url, @consume_url
        
        = submit_tag "Update", {class: 'btn btn-small'}
