= simple_form_for(page) do |f|
  .form-inputs
    = f.error :base
    = f.error_notification
    = f.input :name
    = f.input :root, as: :boolean
  .form-actions
    = f.button :submit, {class: 'btn btn-primary'}