= javascript_include_tag "voice_extension/application"

%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    %span.divider /
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    %span.divider /
  %li
    = link_to 'IVR Extension', settings_path
    %span.divider /
  %li.active Pages

.page-header
  %h1 Pages
  = link_to new_page_path, class: 'btn btn-mini btn-primary' do
    %i.icon-plus
    Add Page

- if @pages.empty?
  .alert No pages yet.
- else
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th.ap-text-center Root?
    %tbody
      - @pages.each do |page|
        %tr
          %td= link_to "#{page.name}", page
          %td.ap-text-center
            - if page.root
              %i.icon-ok
          %td
            .btn-group.pull-right
              = link_to page, class: 'btn btn-mini' do
                %i.icon-list-ul
                Manage Menus
              = link_to edit_page_path(page), class: 'btn btn-mini' do
                %i.icon-edit
                Edit
              = link_to page, method: :delete, class: 'btn btn-mini', data: {confirm: 'Are you sure?'} do
                %i.icon-remove
                Delete
