= javascript_include_tag "voice_extension/application"

%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    %span.divider /
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    %span.divider /
  %li 
    = link_to 'Voice Extension', settings_path
    %span.divider /

= link_to new_page_menu_option_path([@page, @menu_option]), class: 'btn btn-medium btn-primary' do
  Add menu option
  
%table.table.table-striped
  %thead
    %tr
      %th Key
      %th Name
      %th Format
      %th Page transition
      %th Action
  %tbody
    = @menu_options.each do |option|
      %tr
        %td= option.keyed_value
        %td= option.name
        %td= option.format
        %td
          - if !option.forward_page.blank?
            = link_to "#{option.forward_page.name}", option.forward_page
        %td
          = link_to "Edit", edit_page_menu_option_path(@page, option)
          = link_to "Delete", [@page, option], method: :delete, data: { confirm: 'Are you sure?' }
